@model Developer_Toolbox.Models.LockedSolution

<link rel="stylesheet" href="~/css/submissions.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/feature_section.css" asp-append-version="true" />

@if (TempData.ContainsKey("message"))
{
    <h4 class="@ViewBag.MessageType p-3 rounded-3 text-center mb-5">@ViewBag.Message</h4>
}
<section class="features-area features-one" style="min-height: 100vh">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <a style="text-decoration: none" asp-action="Show" asp-controller="LockedExercises" asp-route-id="@Model.LockedExercise.Id"><h3 class="title">@Model.LockedExercise.Title</h3></a>
                    <p class="section-title fs-3 text-primary py-2">Score: @Model.Score</p>
                </div>
                <!-- row -->
            </div>
        </div>
        <!-- row -->
        <div class="container py-4">
            <div class="row d-flex justify-content-center">
                <div id="editor" class="" style="width:700px; height:500px; color:black; box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);">@Model.SolutionCode</div>
            </div>
        </div>
    </div>

</section>


<script>
    var editor = ace.edit("editor");
    editor.setReadOnly(true);
</script>