@model IEnumerable<Developer_Toolbox.Models.LearningPath>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/exercises.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/feature_section.css" asp-append-version="true" />

<section class="features-area features-one">

    @if (TempData.ContainsKey("message"))
    {
        <h4 class="@ViewBag.MessageType p-3 rounded-3 text-center mb-5">@ViewBag.Message</h4>
    }
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h3 class="title">Learning paths</h3>
                    
                </div>
                <!-- row -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col d-flex justify-content-between align-items-center" style="margin-right: 2%">    
                <a class="btn btn-outline-primary py-sm-3 px-sm-4 rounded-pill me-3" style="font-weight:bold;" href="/LockedSolutions/Index" role="button"> My submissions</a>
                @if (ViewBag.IsModerator || ViewBag.IsAdmin)
                {
                    <a class="btn btn-outline-primary py-sm-3 px-sm-4 rounded-pill me-3" style="font-weight:bold;" href="/LearningPaths/New" role="button"> + Create Learning Path</a>
                }
            </div>
        </div>
        <!-- row -->
        <div class="container py-5">
            <div class="row g-5 d-flex justify-content-start">
                @foreach (var item in ViewBag.Paths)
                {
                    <div class="col" style="max-width: fit-content">
                        <div class="card exercise-card border-0 rounded-4 shadow-sm">
                            <div class="position-relative p-2">
                                <span class="badge bg-primary badge-custom">Created by: @item.User?.UserName</span>
                            </div>
                            <div class="card-body p-4 d-flex flex-column justify-content-around">
                                <h5 class="card-title mb-3 fw-bold text-center">@item.Name</h5>
                                <p class="card-text text-center text-muted mb-4">
                                    @item.Description
                                </p>

                                @if (ViewBag.IsAdmin || ViewBag.CurrentUser == item.UserId)
                                {
                                    <div style="display:flex; justify-content: space-between;">
                                        <a asp-action="Edit" asp-controller="LearningPaths" asp-route-id="@item.Id" class="btn btn-no-outline">
                                            <i class="lni lni-write" style="font-size: x-large; color: var(--primary)"></i>
                                        </a>
                                        <a class="btn btn-outline-primary py-2 px-5 rounded-pill" style="font-weight: bold; font-size: small"
                                           asp-controller="LearningPaths" asp-action="Show" asp-route-id="@item.Id">
                                            Start Learning
                                        </a>
                                        <form method="post" asp-action="Delete" asp-controller="LearningPaths" asp-route-id="@item.Id">
                                            <button type="submit" class="btn btn-no-outline">
                                                <i class="lni lni-trash-can" style="font-size: x-large; color: var(--primary)"></i>
                                            </button>
                                        </form>
                                    </div>
                                }
                                else
                                {
                                    <a class="btn btn-outline-primary py-2 px-5 rounded-pill" style="font-weight: bold; font-size: small"
                                       asp-controller="LearningPaths" asp-action="Show" asp-route-id="@item.Id">
                                        Start Learning
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- container -->

 
</section>
