<link rel="stylesheet" href="~/css/exercises.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/feature_section.css" asp-append-version="true" />

@if (TempData.ContainsKey("message"))
{
    <h4 class="@ViewBag.MessageType p-3 rounded-3 text-center mb-5">@ViewBag.Message</h4>
}
<section class="features-area features-one">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h3 class="title">Explore coding exercises</h3>
                    <p class="text">
                        Choose from a variety of coding exercises organized according to their target domain. What skills do you want to improve today?
                    </p>
                </div>
                <!-- row -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col d-flex justify-content-between align-items-center" style="margin-right: 2%">
                <form method="GET" id="filterForm" class="d-flex justify-content-between align-items-center" style="padding-left: 1rem">
                    @Html.DropDownList(
                    "SelectedDifficultyOption",
                    (IEnumerable<SelectListItem>)ViewBag.DifficultyOptionsSelectList,
                    "Sort by difficulty",
                    new { @class = "form-control dropdown",
                    data_custom_class = "dropdown-content" }
                    )
                    <div class="search-wrapper">
                        <div class="search-box">
                            <i class="fas fa-search search-icon"></i>
                            <input type="text" class="form-control search-input" placeholder="Search anything..." name="search" value="@ViewBag.SearchString">
                            <button class="btn btn-primary search-button" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
                @if (ViewBag.IsAdmin || ViewBag.IsModerator)
                {
                    <a class="btn btn-outline-primary py-sm-3 px-sm-4 rounded-pill me-3" style="font-weight:bold;" href="/Exercises/New" role="button"> + Add Exercise</a>
                }
            </div>
        </div>
        <!-- row -->
        <div class="container py-5">
            <div class="row g-5 d-flex justify-content-start">
                @foreach (var exercise in ViewBag.Exercises)
                {
                    <div class="col" style="max-width: fit-content">
                        <div class="card exercise-card border-0 rounded-4 shadow-sm">
                            <div class="position-relative p-2">
                                <span class="badge bg-primary badge-custom">@exercise.Difficulty</span>
                            </div>
                            <div class="card-body p-4 d-flex flex-column justify-content-around">
                                <h5 class="card-title mb-3 fw-bold text-center">@exercise.Title</h5>
                                <p class="card-text text-center text-muted mb-4">
                                    @exercise.Summary
                                </p>

                                @if (exercise.UserId == ViewBag.CurrentUser || ViewBag.IsAdmin)
                                {
                                    <div style="display:flex; justify-content: space-between;">
                                        <a asp-action="Edit" asp-controller="Exercises" asp-route-id="@exercise.Id" class="btn btn-no-outline">
                                            <i class="lni lni-write" style="font-size: x-large; color: var(--primary)"></i>
                                        </a>
                                        <a class="btn btn-outline-primary py-2 px-5 rounded-pill" style="font-weight: bold"
                                           asp-controller="Exercises" asp-action="Show" asp-route-id="@exercise.Id">
                                            Solve
                                        </a>
                                        <form method="post" asp-action="Delete" asp-controller="Exercises" asp-route-id="@exercise.Id">
                                            <button type="submit" class="btn btn-no-outline">
                                                <i class="lni lni-trash-can" style="font-size: x-large; color: var(--primary)"></i>
                                            </button>
                                        </form>
                                    </div>
                                }
                                else
                                {
                                    <a class="btn btn-outline-primary py-2 px-5 rounded-pill" style="font-weight: bold"
                                       asp-controller="Exercises" asp-action="Show" asp-route-id="@exercise.Id">
                                        Solve
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- container -->

    <div class=" mb-2 d-flex justify-content-center ">
        <nav aria-label="Page navigation" style="color:#0d6efd">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" style="color:#0d6efd" href="/Exercises/Index/@ViewBag.CategoryId?page=1&@ViewBag.QueryString" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 1; i <= ViewBag.lastPage; i++)
                {
                    <li class="page-item"> <a class="page-link" style="color:#0d6efd" href="/Exercises/Index/@ViewBag.CategoryId?page=@i&@ViewBag.QueryString">@(i)</a> </li>
                }
                <li class="page-item">
                    <a class="page-link" style="color:#0d6efd" href="/Exercises/Index/@ViewBag.CategoryId?page=@(ViewBag.lastPage)&@ViewBag.QueryString" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
