<link rel="stylesheet" href="~/css/feature_section.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/badges.css" asp-append-version="true" />


<section class="features-area features-one">
    @if (TempData.ContainsKey("message"))
    {
        <h4 class="@ViewBag.MessageType p-3 rounded-3 text-center mb-5">@ViewBag.Message</h4>
    }
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h3 class="title">Badges</h3>
                </div>
                <!-- row -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col d-flex justify-content-end" style="margin-right: 2%">

                @if (ViewBag.IsAdmin || ViewBag.IsModerator)
                {
                    <a class="btn btn-outline-primary py-sm-3 px-sm-4 rounded-pill me-3" style="font-weight:bold;" href="/Badges/New" role="button"> + Add Badge</a>
                }
            </div>
        </div>
        <!-- row -->
        <div class="container py-5">
            <div class="row g-5 d-flex justify-content-start">
                @foreach (var badge in ViewBag.Badges)
                {
                    <div class="col" style="max-width: fit-content">
                        <div class="card badge-card border-0 rounded-4 shadow-sm">
                            <div class="position-relative">
                                <div class="badge-image">
                                    <img src="@badge.Image" class="img-fluid rounded-start" alt="@badge.Title">
                                </div>
                            </div>
                            <div class="card-body p-4 d-flex flex-column justify-content-around">
                                <h5 class="card-title mb-3 fw-bold text-center">@badge.Title</h5>
                                <p class="card-text text-center text-muted mb-4">
                                    @badge.Description
                                </p>

                                @if (badge.AuthorId == ViewBag.CurrentUser || ViewBag.IsAdmin)
                                {
                                    <div style="display:flex; justify-content: space-between;">
                                        <a asp-action="Edit" asp-controller="Badges" asp-route-id="@badge.Id" class="btn btn-no-outline">
                                            <i class="lni lni-write" style="font-size: x-large; color: var(--primary)"></i>
                                        </a>
                                        <form method="post" asp-action="Delete" asp-controller="Badges" asp-route-id="@badge.Id">
                                            <button type="submit" class="btn btn-no-outline">
                                                <i class="lni lni-trash-can" style="font-size: x-large; color: var(--primary)"></i>
                                            </button>
                                        </form>
                                    </div>
                                }
                               
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- container -->
    <div class=" mb-2 d-flex justify-content-center ">
        <nav aria-label="Page navigation" style="color:#0d6efd">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" style="color:#0d6efd" href="/Badges/Index?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 1; i <= ViewBag.lastPage; i++)
                {
                    <li class="page-item"> <a class="page-link" style="color:#0d6efd" href="/Badges/Index?page=@i">@(i)</a> </li>
                }
                <li class="page-item">
                    <a class="page-link" style="color:#0d6efd" href="/Badges/Index?page=@(ViewBag.lastPage)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
