<link rel="stylesheet" href="~/css/feature_section.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/questions.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />

@if (TempData["message"] != null)
{
    <div class="alert p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}

<section class="features-area features-one">
    <div class="container pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h3 class="title">Questions</h3>
                    <p class="text">
                        Do you want to read question and answers or to share your knowledge on a specific topic? Check our tags!
                    </p>
                </div>
                <!-- row -->
            </div>
        </div>

        <!-- Formular adaugare întrebare -->
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12 col-sm-12">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <h3 class="card-title text-center mb-4">Ask question</h3>
                            <form method="post" enctype="multipart/form-data" action="/Questions/New">
                                <div class="mb-3">
                                    @Html.Label("Title", "Title")

                                    @Html.TextBox("Title", null, new { @class = "form-control" })
                                    @Html.ValidationMessage("Title", "", new { @class = "text-danger" })
                                </div>
                                <div class="mb-3">
                                    @Html.Label("Description", "Description", new { @class = "form-label" })

                                    @Html.TextArea("Description", null, new { @class = "form-control"})
                                    @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
                                </div>
                                <label>Tags</label>
                                <div class="d-flex flex-row gap-4" style="color:#595959">
                                    @foreach (var tag in ViewBag.Tags)
                                    {
                                        <div>
                                            <input type="checkbox" name="TagIds" value="@tag.Id" id="tag-@tag.Id" />
                                            <label for="tag-@tag.Id">@tag.Name</label>
                                        </div>
                                    }
                                </div>

                                <!-- Submit Button -->
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                    <div id="formFeedback" class="mt-3"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <div class="row justify-content-center">
            <h2 class="subtitle text-center">Related questions</h2>
        </div>
        <!-- row -->
        <div class="container py-5">
            <div class="row justify-content-center">
                <!-- Motorul de cautare -->
                <div class="search-wrapper">
                    <div class="search-box">
                        <i class="fas fa-search search-icon"></i>
                        <form method="GET">
                            <input type="text" class="form-control search-input" placeholder="Search topics or keywords" name="search" value="@ViewBag.SearchString">
                            <button class="btn btn-primary search-button" type="submit">
                                Search
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            
            <div class="row g-5 d-flex justify-content-start">
                @foreach (var item in ViewBag.QuestionsWithAutor)
                {
                    <div class="col" style="max-width: fit-content">
                        <div class="card question-card border-0 rounded-4 shadow-sm">
                            <div class="position-relative p-2 d-flex justify-content-between">
                                <div>
                                    @foreach (var questionTag in item.Tags)
                                    {
                                        <a asp-action="Show" asp-controller="Tags" asp-route-id="@questionTag.Id" class="badge bg-primary badge-custom">#@questionTag.Name</a>
                                    }
                                </div>
                                <a href="/ApplicationUsers/Show/@item.AutorId" style="text-decoration: none;"><i class="bi bi-person-fill"></i> @item?.AutorUsername</a>
                            </div>
                            <div class="card-body p-4 d-flex flex-column justify-content-around">
                                <h5 class="card-title mb-3 fw-bold text-center">@item.Question.Title</h5>
                                <a class="btn btn-outline-primary py-2 px-5 rounded-pill" style="font-weight: bold"
                                   asp-controller="Questions" asp-action="Show" asp-route-id="@item?.Question.Id">
                                    Show
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div> 
        </div>
    </div>
    <!-- container -->
    <div class=" mb-2 d-flex justify-content-center ">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.lastPage; i++)
                {
                    <li class="page-item"> <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a> </li>
                }

                <li class="page-item">
                    <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
