<link rel="stylesheet" href="~/css/feature_section.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/questions.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />

<section class="features-area features-one">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h3 class="title">Questions</h3>             
                </div>
                <!-- row -->
            </div>
        </div>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12 col-sm-12">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <div>
                                    <i class="lni lni-user"></i>
                                    <a href="/ApplicationUsers/Show/@ViewBag.User.UserName" style="text-decoration: none;">
                                        <h6 class="mb-0">@ViewBag.User.UserName</h6>
                                    </a>
                                </div>
                                <span class="comment-time">@ViewBag.Question.CreatedDate</span>
                            </div>
                            <h3 class="card-title text-center mb-4">@ViewBag.Question.Title</h3>
                            <div class="mb-3 card-text">
                                @ViewBag.Question.Description
                            </div>
                            <div class="d-flex justify-content-between pt-3">
                                <div>
                                    @if (@ViewBag.Question.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin || ViewBag.EsteModerator)
                                    {
                                        <div class="comment-actions d-flex">
                                            <a asp-action="Edit" asp-controller="Questions" asp-route-id="@ViewBag.Question.Id" class="btn btn-no-outline">
                                                <i class="lni lni-write"></i> Edit
                                            </a>
                                            <form method="post" asp-action="Delete" asp-controller="Questions" asp-route-id="@ViewBag.Question.Id">
                                                <button type="submit" class="btn btn-no-outline">
                                                    <i class="lni lni-trash-can"></i> Delete
                                                </button>
                                            </form>
                                        </div>
                                    }
                                </div>
                                <div class="d-flex justify-content-evenly align-items-center">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        @if (ViewBag.Saved == false)
                                        {
                                            <a href="/Bookmarks/Save?questionId=@ViewBag.Question.Id" class="btn btn-no-outline" style="color: #6c757d"><i class="lni lni-bookmark"></i></a>
                                        }
                                        else
                                        {
                                            <a href="/Bookmarks/Unsave?questionId=@ViewBag.Question.Id" class="btn btn-no-outline" style="color: var(--primary)"><i class="lni lni-bookmark"></i></a>
                                        }
                                        @if (!ViewBag.Liked)
                                        {
                                            <!-- Buton pentru like -->
                                            <form method="post" action="/Reactions/LikeQuestion?questionId=@ViewBag.Question.Id">
                                                <button type="submit" class="btn btn-no-outline"><i class="lni lni-thumbs-up" style="color: #6c757d"></i> @ViewBag.Question.LikesNr</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <!-- Buton pentru undoLike -->
                                            <form method="post" action="/Reactions/UndoLikeQuestion?questionId=@ViewBag.Question.Id">
                                                <button type="submit" class="btn btn-no-outline"><i class="lni lni-thumbs-up" style="color: var(--primary)"></i> @ViewBag.Question.LikesNr</button>
                                            </form>
                                        }
                                        @if (!ViewBag.Disliked)
                                        {
                                            <!-- Buton pentru dislike -->
                                            <form method="post" action="/Reactions/DislikeQuestion?questionId=@ViewBag.Question.Id">
                                                <button type="submit" class="btn btn-no-outline"><i class="lni lni-thumbs-down" style="color: #6c757d"></i> @ViewBag.Question.DislikesNr</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <!-- Buton pentru UndoDislike -->
                                            <form method="post" action="/Reactions/UndoDislikeQuestion?questionId=@ViewBag.Question.Id">
                                                <button type="submit" class="btn btn-no-outline"><i class="lni lni-thumbs-down" style="color: var(--primary)"></i> @ViewBag.Question.DislikesNr</button>
                                            </form>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="comment-section">
                <!-- New Comment Form -->
                <form method="post" action="/Answers/New">
                    <div class="mb-4">
                        <div class="d-flex gap-3">
                            <div class="flex-grow-1">
                                <input type="hidden" name="QuestionId" value="@ViewBag.Question.Id" />
                                <textarea name="Content" class="form-control comment-input" rows="3" placeholder="Write an answer..."></textarea>
                                <div class="mt-3 text-end">
                                    <button class="btn btn-comment text-white" type="submit">Post answer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Comments List -->
                <div class="comments-list">
                    @foreach (var comm in ViewBag.QuestionWithAnswers)
                    {
                        <div class="comment-box">
                            <div class="d-flex gap-3">

                                <div class="flex-grow-1">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <a href="/ApplicationUsers/Show/@comm.AutorId" style="text-decoration: none;">
                                            <h6 class="mb-0">@comm.AutorUsername</h6>
                                        </a>
                                        <span class="comment-time">@comm.Answer.Date</span>
                                    </div>
                                    <p class="mb-2">
                                        @comm.Answer.Content
                                    </p>
                                    @if (@comm.Answer.UserId == ViewBag.UserCurent || ViewBag.EsteModerator || ViewBag.EsteAdmin) {
                                        <div class="comment-actions d-flex">
                                            <a asp-action="Edit" asp-controller="Answers" asp-route-id="@comm.Answer.Id" class="btn btn-no-outline">
                                                <i class="lni lni-write"></i> Edit
                                            </a>
                                            <form method="post" asp-action="Delete" asp-controller="Answers" asp-route-id="@comm.Answer.Id">
                                                <button type="submit" class="btn btn-no-outline">
                                                    <i class="lni lni-trash-can"></i> Delete
                                                </button>
                                            </form>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    <!-- container -->
</section>



