@model Developer_Toolbox.Models.WeeklyChallenge

<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12 col-sm-12">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Edit Weekly Challenge</h3>
                    <form method="post" asp-action="Edit" asp-controller="WeeklyChallenges">
                        <input type="hidden" name="Id" value="@Model.Id" />

                        <div class="mb-3">
                            @Html.LabelFor(m => m.Title, "Challenge Title", new { @class = "form-label" })
                            @Html.TextAreaFor(m => m.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.Description, "Challenge Description", new { @class = "form-label"})
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.Label("Level of difficulty")
                            @Html.DropDownListFor(
                            (m => m.Difficulty),
                            (IEnumerable<SelectListItem>)ViewBag.OptionsSelectList,
                            "Select",
                            new { @class = "form-control" }
                            )
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.RewardPoints, "Reward Points", new { @class = "form-label"}) 
                            <input type="number" class="form-control" asp-for="RewardPoints" min="1" max="1000" />
                            @Html.ValidationMessageFor(m => m.RewardPoints, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.StartDate, "Start Date", new { @class = "form-label"})
                            <input type="date" class="form-control" asp-for="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" />
                            @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.EndDate, "End Date", new { @class = "form-label" })
                            <input type="date" class="form-control" asp-for="EndDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" />
                            @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            <label>Select Exercises</label>
                            @foreach (var exercise in ViewBag.Exercises)
                            {
                                <div class="form-check">
                                    <input type="checkbox" name="ExerciseIds" value="@exercise.Id"
                                           class="form-check-input"
                                    @(Model.WeeklyChallengeExercises.Any(wce => wce.ExerciseId == exercise.Id) ? "checked" : "") />
                                    <label for="exercise-@exercise.Id" class="form-check-label">@exercise.Title</label>
                                </div>
                            }
                            @Html.ValidationMessageFor(m => m.WeeklyChallengeExercises, "", new { @class = "text-danger" })
                        </div>

                        <!-- Submit Button -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Save changes</button>
                            <div id="formFeedback" class="mt-3"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
